# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule FinAPIAccess.Api.MandatorAdministration do
  @moduledoc """
  API calls for all endpoints tagged `MandatorAdministration`.
  """

  alias FinAPIAccess.Connection
  import FinAPIAccess.RequestBuilder


  @doc """
  Change client credentials
  Change the client_secret for any of your clients, including the mandator admin client. Must pass the <a href='https://finapi.zendesk.com/hc/en-us/articles/115003661827-Difference-between-app-clients-and-mandator-admin-client'>mandator admin client</a>'s access_token. <br/><br/>NOTES:<br/>&bull; When you change a client's secret, then all of its existing access tokens will be revoked. User access tokens are not affected.<br/>&bull; finAPI is storing client secrets with a one-way encryption. A lost client secret can NOT be recovered.

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - change_client_credentials_params (ChangeClientCredentialsParams): Parameters for changing client credentials
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %{}} on success
  {:error, info} on failure
  """
  @spec change_client_credentials(Tesla.Env.client, FinAPIAccess.Model.ChangeClientCredentialsParams.t, keyword()) :: {:ok, nil} | {:ok, FinAPIAccess.Model.ErrorMessage.t} | {:ok, FinAPIAccess.Model.BadCredentialsError.t} | {:error, Tesla.Env.t}
  def change_client_credentials(connection, change_client_credentials_params, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/api/v1/mandatorAdmin/changeClientCredentials")
    |> add_param(:body, :body, change_client_credentials_params)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, false},
      { 400, %FinAPIAccess.Model.ErrorMessage{}},
      { 401, %FinAPIAccess.Model.BadCredentialsError{}},
      { 403, %FinAPIAccess.Model.ErrorMessage{}},
      { 422, %FinAPIAccess.Model.ErrorMessage{}},
      { 500, %FinAPIAccess.Model.ErrorMessage{}}
    ])
  end

  @doc """
  Create IBAN rules
  This service can be used to define IBAN rules for finAPI's transaction categorization system. The transaction categorization is run automatically whenever new transactions are imported, as well as when you call the services 'Check categorization' or 'Trigger categorization'. <br/><br/>An IBAN rule maps an IBAN to a certain category. finAPI's categorization system will pick the category as a candidate for any transaction whose counterpart's account matches the IBAN. It is not guaranteed though that this candidate will actually be applied, as there could be other categorization rules that have higher priority or that are an even better match for the transaction.<br/><br/>Note that the rules that you define here will be applied to all of your users. They have higher priority than finAPI's default categorization rules, but lower priority than user-specific rules (User-specific rules are created implicitly whenever a category is manually assigned to a transaction via the PATCH /transactions services). IBAN rules have a higher priority than keyword rules (see the 'Create keyword rules' service).

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - iban_rules_params (IbanRulesParams): IBAN rule definitions
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %FinAPIAccess.Model.IbanRuleList{}} on success
  {:error, info} on failure
  """
  @spec create_iban_rules(Tesla.Env.client, FinAPIAccess.Model.IbanRulesParams.t, keyword()) :: {:ok, FinAPIAccess.Model.ErrorMessage.t} | {:ok, FinAPIAccess.Model.IbanRuleList.t} | {:ok, FinAPIAccess.Model.BadCredentialsError.t} | {:error, Tesla.Env.t}
  def create_iban_rules(connection, iban_rules_params, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/api/v1/mandatorAdmin/ibanRules")
    |> add_param(:body, :body, iban_rules_params)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 201, %FinAPIAccess.Model.IbanRuleList{}},
      { 400, %FinAPIAccess.Model.ErrorMessage{}},
      { 401, %FinAPIAccess.Model.BadCredentialsError{}},
      { 403, %FinAPIAccess.Model.ErrorMessage{}},
      { 404, %FinAPIAccess.Model.ErrorMessage{}},
      { 422, %FinAPIAccess.Model.ErrorMessage{}},
      { 500, %FinAPIAccess.Model.ErrorMessage{}}
    ])
  end

  @doc """
  Create keyword rules
  This service can be used to define keyword rules for finAPI's transaction categorization system. The transaction categorization is run automatically whenever new transactions are imported, as well as when you call the services 'Check categorization' or 'Trigger categorization'. <br/><br/>A keyword rule maps a set of keywords to a certain category. finAPI's categorization system will pick the category as a candidate for any transaction that contains at least one of the defined keywords in its purpose or counterpart information. It is not guaranteed though that this candidate will actually be applied, as there could be other categorization rules that have higher priority or that are an even better match for the transaction. If there are multiple keyword rules that match a transaction, finAPI will pick the one with the highest count of matched keywords.<br/><br/>Note that the rules that you define here will be applied to all of your users. They have higher priority than finAPI's default categorization rules, but lower priority than user-specific rules (User-specific rules are created implicitly whenever a category is manually assigned to a transaction via the PATCH /transactions services). Keyword rules have a lower priority than IBAN rules (see the 'Create IBAN rules' service).

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - keyword_rules_params (KeywordRulesParams): Keyword rule definitions
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %FinAPIAccess.Model.KeywordRuleList{}} on success
  {:error, info} on failure
  """
  @spec create_keyword_rules(Tesla.Env.client, FinAPIAccess.Model.KeywordRulesParams.t, keyword()) :: {:ok, FinAPIAccess.Model.ErrorMessage.t} | {:ok, FinAPIAccess.Model.KeywordRuleList.t} | {:ok, FinAPIAccess.Model.BadCredentialsError.t} | {:error, Tesla.Env.t}
  def create_keyword_rules(connection, keyword_rules_params, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/api/v1/mandatorAdmin/keywordRules")
    |> add_param(:body, :body, keyword_rules_params)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 201, %FinAPIAccess.Model.KeywordRuleList{}},
      { 400, %FinAPIAccess.Model.ErrorMessage{}},
      { 401, %FinAPIAccess.Model.BadCredentialsError{}},
      { 403, %FinAPIAccess.Model.ErrorMessage{}},
      { 404, %FinAPIAccess.Model.ErrorMessage{}},
      { 422, %FinAPIAccess.Model.ErrorMessage{}},
      { 500, %FinAPIAccess.Model.ErrorMessage{}}
    ])
  end

  @doc """
  Delete IBAN rules
  Delete one or multiple IBAN rules that you have previously created via the 'Create IBAN rules' service.

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - iban_rule_identifiers_params (IbanRuleIdentifiersParams): List of IBAN rules identifiers.The maximum number of identifiers is 100.
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %FinAPIAccess.Model.IdentifierList{}} on success
  {:error, info} on failure
  """
  @spec delete_iban_rules(Tesla.Env.client, FinAPIAccess.Model.IbanRuleIdentifiersParams.t, keyword()) :: {:ok, FinAPIAccess.Model.ErrorMessage.t} | {:ok, FinAPIAccess.Model.IdentifierList.t} | {:ok, FinAPIAccess.Model.BadCredentialsError.t} | {:error, Tesla.Env.t}
  def delete_iban_rules(connection, iban_rule_identifiers_params, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/api/v1/mandatorAdmin/ibanRules/delete")
    |> add_param(:body, :body, iban_rule_identifiers_params)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %FinAPIAccess.Model.IdentifierList{}},
      { 400, %FinAPIAccess.Model.ErrorMessage{}},
      { 401, %FinAPIAccess.Model.BadCredentialsError{}},
      { 403, %FinAPIAccess.Model.ErrorMessage{}},
      { 404, %FinAPIAccess.Model.ErrorMessage{}},
      { 500, %FinAPIAccess.Model.ErrorMessage{}}
    ])
  end

  @doc """
  Delete keyword rules
  Delete one or multiple keyword rules that you have previously created via the 'Create keyword rules' service.

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - keyword_rule_identifiers_params (KeywordRuleIdentifiersParams): List of keyword rule identifiers.The maximum number of identifiers is 100.
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %FinAPIAccess.Model.IdentifierList{}} on success
  {:error, info} on failure
  """
  @spec delete_keyword_rules(Tesla.Env.client, FinAPIAccess.Model.KeywordRuleIdentifiersParams.t, keyword()) :: {:ok, FinAPIAccess.Model.ErrorMessage.t} | {:ok, FinAPIAccess.Model.IdentifierList.t} | {:ok, FinAPIAccess.Model.BadCredentialsError.t} | {:error, Tesla.Env.t}
  def delete_keyword_rules(connection, keyword_rule_identifiers_params, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/api/v1/mandatorAdmin/keywordRules/delete")
    |> add_param(:body, :body, keyword_rule_identifiers_params)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %FinAPIAccess.Model.IdentifierList{}},
      { 400, %FinAPIAccess.Model.ErrorMessage{}},
      { 401, %FinAPIAccess.Model.BadCredentialsError{}},
      { 403, %FinAPIAccess.Model.ErrorMessage{}},
      { 404, %FinAPIAccess.Model.ErrorMessage{}},
      { 500, %FinAPIAccess.Model.ErrorMessage{}}
    ])
  end

  @doc """
  Delete users
  Delete one or several users, which are specified by a given list of identifiers. Must pass the <a href='https://finapi.zendesk.com/hc/en-us/articles/115003661827-Difference-between-app-clients-and-mandator-admin-client' target='_blank'>mandator admin client</a>'s access_token. <br/><br/><b>NOTE</b>: finAPI may fail to delete one (or several, or all) of the specified users. A user cannot get deleted when his data is currently locked by an internal process (for instance, update of a bank connection or transactions categorization). The response contains the identifiers of all users that could not get deleted, and all users that could get deleted, separated in two lists. The mandator admin client can retry the request at a later time for the users who could not get deleted.<br/> Note that non-existing user identifiers will be ignored entirely, meaning that those identifiers will not appear in the response at all.

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - user_identifiers_params (UserIdentifiersParams): List of user identifiers
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %FinAPIAccess.Model.UserIdentifiersList{}} on success
  {:error, info} on failure
  """
  @spec delete_users(Tesla.Env.client, FinAPIAccess.Model.UserIdentifiersParams.t, keyword()) :: {:ok, FinAPIAccess.Model.ErrorMessage.t} | {:ok, FinAPIAccess.Model.UserIdentifiersList.t} | {:ok, FinAPIAccess.Model.BadCredentialsError.t} | {:error, Tesla.Env.t}
  def delete_users(connection, user_identifiers_params, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/api/v1/mandatorAdmin/deleteUsers")
    |> add_param(:body, :body, user_identifiers_params)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %FinAPIAccess.Model.UserIdentifiersList{}},
      { 400, %FinAPIAccess.Model.ErrorMessage{}},
      { 401, %FinAPIAccess.Model.BadCredentialsError{}},
      { 403, %FinAPIAccess.Model.ErrorMessage{}},
      { 500, %FinAPIAccess.Model.ErrorMessage{}}
    ])
  end

  @doc """
  Get IBAN rules
  Returns all IBAN-based categorization rules that you have defined for your users via the 'Create IBAN rules' service.

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :page (integer()): Result page that you want to retrieve
    - :per_page (integer()): Maximum number of records per page. By default it's 20. Can be at most 500.
  ## Returns

  {:ok, %FinAPIAccess.Model.PageableIbanRuleList{}} on success
  {:error, info} on failure
  """
  @spec get_iban_rule_list(Tesla.Env.client, keyword()) :: {:ok, FinAPIAccess.Model.ErrorMessage.t} | {:ok, FinAPIAccess.Model.PageableIbanRuleList.t} | {:ok, FinAPIAccess.Model.BadCredentialsError.t} | {:error, Tesla.Env.t}
  def get_iban_rule_list(connection, opts \\ []) do
    optional_params = %{
      :"page" => :query,
      :"perPage" => :query
    }
    %{}
    |> method(:get)
    |> url("/api/v1/mandatorAdmin/ibanRules")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %FinAPIAccess.Model.PageableIbanRuleList{}},
      { 400, %FinAPIAccess.Model.ErrorMessage{}},
      { 401, %FinAPIAccess.Model.BadCredentialsError{}},
      { 403, %FinAPIAccess.Model.ErrorMessage{}},
      { 500, %FinAPIAccess.Model.ErrorMessage{}}
    ])
  end

  @doc """
  Get keyword rules
  Returns all keyword-based categorization rules that you have defined for your users via the 'Create keyword rules' service.

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :page (integer()): Result page that you want to retrieve
    - :per_page (integer()): Maximum number of records per page. By default it's 20. Can be at most 500.
  ## Returns

  {:ok, %FinAPIAccess.Model.PageableKeywordRuleList{}} on success
  {:error, info} on failure
  """
  @spec get_keyword_rule_list(Tesla.Env.client, keyword()) :: {:ok, FinAPIAccess.Model.PageableKeywordRuleList.t} | {:ok, FinAPIAccess.Model.ErrorMessage.t} | {:ok, FinAPIAccess.Model.BadCredentialsError.t} | {:error, Tesla.Env.t}
  def get_keyword_rule_list(connection, opts \\ []) do
    optional_params = %{
      :"page" => :query,
      :"perPage" => :query
    }
    %{}
    |> method(:get)
    |> url("/api/v1/mandatorAdmin/keywordRules")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %FinAPIAccess.Model.PageableKeywordRuleList{}},
      { 400, %FinAPIAccess.Model.ErrorMessage{}},
      { 401, %FinAPIAccess.Model.BadCredentialsError{}},
      { 403, %FinAPIAccess.Model.ErrorMessage{}},
      { 500, %FinAPIAccess.Model.ErrorMessage{}}
    ])
  end

  @doc """
  Get user list
  <p>Get a list of the users of the mandator that is authorized by the access_token. Must pass the <a href='https://finapi.zendesk.com/hc/en-us/articles/115003661827-Difference-between-app-clients-and-mandator-admin-client' target='_blank'>mandator admin client</a>'s access_token. You can set optional search criteria to get only those users that you are interested in. If you do not specify any search criteria, then this service functions as a 'get all' service.</p><p>Note that the original user id is no longer available in finAPI once a user has been deleted. Because of this, the userId of deleted users will be a distorted version of the original userId. For example, if the deleted user's id was originally 'user', then this service will return 'uXXr' as the userId.</p>

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :min_registration_date (String.t): Lower bound for a user's registration date, in the format 'YYYY-MM-DD' (e.g. '2016-01-01'). If specified, then only users whose 'registrationDate' is equal to or later than the given date will be regarded.
    - :max_registration_date (String.t): Upper bound for a user's registration date, in the format 'YYYY-MM-DD' (e.g. '2016-01-01'). If specified, then only users whose 'registrationDate' is equal to or earlier than the given date will be regarded.
    - :min_deletion_date (String.t): Lower bound for a user's deletion date, in the format 'YYYY-MM-DD' (e.g. '2016-01-01'). If specified, then only users whose 'deletionDate' is not null, and is equal to or later than the given date will be regarded.
    - :max_deletion_date (String.t): Upper bound for a user's deletion date, in the format 'YYYY-MM-DD' (e.g. '2016-01-01'). If specified, then only users whose 'deletionDate' is null, or is equal to or earlier than the given date will be regarded.
    - :min_last_active_date (String.t): Lower bound for a user's last active date, in the format 'YYYY-MM-DD' (e.g. '2016-01-01'). If specified, then only users whose 'lastActiveDate' is not null, and is equal to or later than the given date will be regarded.
    - :max_last_active_date (String.t): Upper bound for a user's last active date, in the format 'YYYY-MM-DD' (e.g. '2016-01-01'). If specified, then only users whose 'lastActiveDate' is null, or is equal to or earlier than the given date will be regarded.
    - :include_monthly_stats (boolean()): Whether to include the 'monthlyStats' for the returned users. If not specified, then the field defaults to 'false'.
    - :monthly_stats_start_date (String.t): Minimum bound for the monthly stats (=oldest month that should be included). Must be passed in the format 'YYYY-MM'. If not specified, then the monthly stats will go back up to the first month in which the user existed (date of the user's registration). Note that this field is only regarded if 'includeMonthlyStats' = true.
    - :monthly_stats_end_date (String.t): Maximum bound for the monthly stats (=latest month that should be included). Must be passed in the format 'YYYY-MM'. If not specified, then the monthly stats will go up to either the current month (for active users), or up to the month of deletion (for deleted users). Note that this field is only regarded if  'includeMonthlyStats' = true.
    - :min_bank_connection_count_in_monthly_stats (integer()): A value of X means that the service will return only those users which had at least X bank connections imported at any time within the returned monthly stats set. This field is only regarded when 'includeMonthlyStats' is set to 'true'. The default value for this field is 0.
    - :user_id (String.t): The identifier of a user to search for. If specified, then only the user with the given id will be regarded. If no user can be found for the passed userId (because the user was deleted or his username was misspelled), then the result list will be empty.
    - :is_deleted (boolean()): If NOT specified, then the service will regard both active and deleted users in the search. If set to 'true', then ONLY deleted users will be regarded. If set to 'false', then ONLY active users will be regarded.
    - :is_locked (boolean()): If NOT specified, then the service will regard both locked and not locked users in the search. If set to 'true', then ONLY locked users will be regarded. If set to 'false', then ONLY not locked users will be regarded.
    - :page (integer()): Result page that you want to retrieve
    - :per_page (integer()): Maximum number of records per page. By default it's 20. Can be at most 500.
    - :order ([String.t]): Determines the order of the results. You can order the results by 'userId'. The default order for this service is 'userId,asc'. The general format is: 'property[,asc|desc]', with 'asc' being the default value.
  ## Returns

  {:ok, %FinAPIAccess.Model.PageableUserInfoList{}} on success
  {:error, info} on failure
  """
  @spec get_user_list(Tesla.Env.client, keyword()) :: {:ok, FinAPIAccess.Model.ErrorMessage.t} | {:ok, FinAPIAccess.Model.PageableUserInfoList.t} | {:ok, FinAPIAccess.Model.BadCredentialsError.t} | {:error, Tesla.Env.t}
  def get_user_list(connection, opts \\ []) do
    optional_params = %{
      :"minRegistrationDate" => :query,
      :"maxRegistrationDate" => :query,
      :"minDeletionDate" => :query,
      :"maxDeletionDate" => :query,
      :"minLastActiveDate" => :query,
      :"maxLastActiveDate" => :query,
      :"includeMonthlyStats" => :query,
      :"monthlyStatsStartDate" => :query,
      :"monthlyStatsEndDate" => :query,
      :"minBankConnectionCountInMonthlyStats" => :query,
      :"userId" => :query,
      :"isDeleted" => :query,
      :"isLocked" => :query,
      :"page" => :query,
      :"perPage" => :query,
      :"order" => :query
    }
    %{}
    |> method(:get)
    |> url("/api/v1/mandatorAdmin/getUserList")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %FinAPIAccess.Model.PageableUserInfoList{}},
      { 400, %FinAPIAccess.Model.ErrorMessage{}},
      { 401, %FinAPIAccess.Model.BadCredentialsError{}},
      { 403, %FinAPIAccess.Model.ErrorMessage{}},
      { 500, %FinAPIAccess.Model.ErrorMessage{}}
    ])
  end
end
