# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule FinAPIAccess.Api.TPPCertificates do
  @moduledoc """
  API calls for all endpoints tagged `TPPCertificates`.
  """

  alias FinAPIAccess.Connection
  import FinAPIAccess.RequestBuilder


  @doc """
  Create a new certificate
  Upload a new TPP certificate. Must pass the &lt;a href&#x3D;&#39;https://finapi.zendesk.com/hc/en-us/articles/115003661827-Difference-between-app-clients-and-mandator-admin-client&#39; target&#x3D;&#39;_blank&#39;&gt;mandator admin client&lt;/a&gt;&#39;s access_token. &lt;br/&gt;QWAC certificate is used to verify your identity by the bank during the TLS handshake.&lt;br/&gt;QsealC certificate is used to sign the requests to the bank.

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - body (TppCertificateParams): Create new certificate parameters
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %FinAPIAccess.Model.TppCertificate{}} on success
  {:error, info} on failure
  """
  @spec create_new_certificate(Tesla.Env.client, FinAPIAccess.Model.TppCertificateParams.t, keyword()) :: {:ok, FinAPIAccess.Model.TppCertificate.t} | {:error, Tesla.Env.t}
  def create_new_certificate(connection, body, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/api/v1/tppCertificates")
    |> add_param(:body, :"body", body)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%FinAPIAccess.Model.TppCertificate{})
  end

  @doc """
  Delete a certificate
  Delete a single certificate by its id. Must pass the &lt;a href&#x3D;&#39;https://finapi.zendesk.com/hc/en-us/articles/115003661827-Difference-between-app-clients-and-mandator-admin-client&#39; target&#x3D;&#39;_blank&#39;&gt;mandator admin client&lt;/a&gt;&#39;s access_token.

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - id (integer()): Id of the certificate to delete
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %{}} on success
  {:error, info} on failure
  """
  @spec delete_certificate(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def delete_certificate(connection, id, _opts \\ []) do
    %{}
    |> method(:delete)
    |> url("/api/v1/tppCertificates/#{id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Get all certificates
  Returns all certificates that you have uploaded via &#39;Create a new certificate&#39; service. Must pass the &lt;a href&#x3D;&#39;https://finapi.zendesk.com/hc/en-us/articles/115003661827-Difference-between-app-clients-and-mandator-admin-client&#39; target&#x3D;&#39;_blank&#39;&gt;mandator admin client&lt;/a&gt;&#39;s access_token.

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :page (integer()): Result page that you want to retrieve
    - :per_page (integer()): Maximum number of records per page. By default it&#39;s 20. Can be at most 500. NOTE: Due to its validation and visualization, the swagger frontend might show very low performance, or even crashes, when a service responds with a lot of data. It is recommended to use a HTTP client like Postman or DHC instead of our swagger frontend for service calls with large page sizes.

  ## Returns

  {:ok, %FinAPIAccess.Model.PageableTppCertificateList{}} on success
  {:error, info} on failure
  """
  @spec get_all_certificates(Tesla.Env.client, keyword()) :: {:ok, FinAPIAccess.Model.PageableTppCertificateList.t} | {:error, Tesla.Env.t}
  def get_all_certificates(connection, opts \\ []) do
    optional_params = %{
      :"page" => :query,
      :"perPage" => :query
    }
    %{}
    |> method(:get)
    |> url("/api/v1/tppCertificates")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%FinAPIAccess.Model.PageableTppCertificateList{})
  end

  @doc """
  Get a certificate
  Get a single certificate by its id. Must pass the &lt;a href&#x3D;&#39;https://finapi.zendesk.com/hc/en-us/articles/115003661827-Difference-between-app-clients-and-mandator-admin-client&#39; target&#x3D;&#39;_blank&#39;&gt;mandator admin client&lt;/a&gt;&#39;s access_token.

  ## Parameters

  - connection (FinAPIAccess.Connection): Connection to server
  - id (integer()): Id of requested certificate
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %FinAPIAccess.Model.TppCertificate{}} on success
  {:error, info} on failure
  """
  @spec get_certificate(Tesla.Env.client, integer(), keyword()) :: {:ok, FinAPIAccess.Model.TppCertificate.t} | {:error, Tesla.Env.t}
  def get_certificate(connection, id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/api/v1/tppCertificates/#{id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%FinAPIAccess.Model.TppCertificate{})
  end
end
